:root {
  --primary: #272727;
  --secondary: #1e1e1e;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.section-base {
  display: flex;
}

.menu-context {
  flex-basis: 25%;
  background-color: var(--secondary);
}

.menu-grid {
  flex-basis: 75%;
  background-color: var(--primary);
}